*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:sans-serif;
}
:root{
    --bg-color:#fdfdfd;
    --text-color:#333;
    --main-color:#754ef9;
    --white-color:#fdfdfd;
    --showdow-color: rgba(0, 0, 0, .2);
}

html{
    font-size: 62.5%;
    overflow-x:hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2rem 7%;
    background-color: transparent;
    z-index: 100;
    transition: .5s;
}

.header.sticky {
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--showdow-color);
}

.logo{
    font-size: 2.5rem;
    color:var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}
.navbar{
    width: 46.5%;
    height: 26px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar a{
    position: relative;
font-size: 1.7rem;
color: var(--white-color);
font-weight: 500;
margin-right: 3.5rem;
}
.header.sticky .navbar a{
    color: var(--text-color);
}
.header.sticky .navbar a.active{
    color: var(--main-color);
}
.navbar a.active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 0.2rem;
    background: var(--white-color);
}

.header.sticky .navbar a::before {
    background: var(--main-color);
    opacity: .7;
}

#darkmood-icon{
    font-size: 2.2rem;
    color: var(--white-color);
    cursor: pointer;
    transition: .3s ease;
}

#sun-icon {
    display: none;
}

.header.sticky #darkmood-icon {
    color: var(--text-color);
    opacity: .9;
}

body.dark-theme{
    --bg-color:#111;
    --text-color:#fff;
    --showdow-color: rgba(255,255,255,.2);
    --white-color:#fff;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;

}


section{
    min-height: 100vh;
    padding: 8rem 7% 2rem;
    overflow: hidden;
    
}

.home{
    display:flex ;
    align-items: center;
    overflow: hidden;
    position: relative;
    
}

.home .home-content{
    max-width: 44rem;

}

.home-content h3{
    font-size: 3rem;
    font-weight: 700;
    line-height: .5;
    margin-top: -10px;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 600;
    margin-bottom: .3rem;
}

.home-content p{
    font-size: 1.6rem;
    line-height: 1.4;
}

.home-content .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--showdow-color) ;
    font-size: 1.5rem;
    /* color: var(--main-color); */
    margin: 2.5rem 1.5rem 3rem 0;
    
}



.home-content .social-media a:hover{
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: var(--white-color);
   
}

.social-media a i {
    color:  rgb(49, 49, 175);
}

.social-media a.clicked i {
    color: #551A8B; /* visited purple */
}


.btn{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: rgb(49, 49, 175) ;
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--showdow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    border: 1px solid transparent;
    font-weight: 550;
    transition: .5s ease;
}



.btn:hover{
    background: transparent;
    color: rgb(25, 25, 216);
    border-color: rgb(25, 25, 216);
}

.home .p-container{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 700px;
    height: 700px;
    /* height: 100vh; */
    /* background: red; */
    overflow: hidden;
    pointer-events: none;
     /* border: 2px solid; ----------------------- */
}

.home .p-container .p-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 700px;
    height: 700px;
    /* background: purple; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate 10s ease-out infinite;
}

@keyframes professionRotate {
    0%,20% {
        transform: rotate(0deg);
    }
    25%,45% {
        transform: rotate(-90deg);
    }
    50%,70% {
        transform: rotate(-180deg);
    }
    75%,95% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
.home .p-container .p-box .p{
    position: absolute;
    display: flex;
    left: 10px;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 350px;
    background: var(--bg-color);
    padding: 5px 10px;
    margin-bottom: 3px;
}


.home .p-container .p-box .p:nth-child(1) i{
    margin-right: 15px;
}

.home .p-container .p-box .p:nth-child(2),
.home .p-container .p-box .p:nth-child(4) {
    padding-bottom: 20px;
}


.home .p i{
    font-size: 2.8rem;
}
.home .p #special{
    font-size: 2.8rem;
    transform: translateX(-40px);
}


.home .p h3{
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    /* border: 2px solid; */

}
.home .p #specific {
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
     transform: translateX(-13px);
    /* border: 2px solid; */

}


.home .p-box .circle{
    width: 470px;
    height: 470px;
    /* background: red; */
    border: 2px solid var(--main-color);
    border-radius: 50%;

}

.home .p-container .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    border-top: 350px solid var(--main-color);
    border-bottom: 350px solid var(--main-color);
    border-right: 350px solid var(--main-color);
    border-left:350px solid transparent;
}

.home-img {
    position: absolute;
    right: 0;
    top: 0;
    width: 45vw;              /* responsive */
    height: 100%;
    /* background: var(--main-color); */
   /* clip-path: circle(55% at 60% 50%); */

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;   /* prevents image overflow */
}

.home-photo {
    height: 100%;
    object-fit: contain;
    transform: scale(1.45) translateY(1.1%) translateX(8%);
    transform-origin: center;
    /* z-index: 10; */
}

span {

    color: var(--main-color);

}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background: var(--bg-color);
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    width: 100%;
    min-height: 100vh;
    height: auto;
    position: relative;
    overflow: hidden;
    
}
.about-img {
    padding-bottom: 3rem;   
    display: flex;
    justify-content: center;
    align-items: flex-end;
     
}



.about-img img{
    width: 40vw;
    clip-path: inset(0 30% 0% 0);
    height: 80%;
    max-height: 80vh;
     transform: scale(1.75) translateY(10%) translateX(7%) rotate(-1deg) ;
    z-index: 2;
    
    object-fit: contain;
    padding-bottom: 5rem;
  
}

.heading{
    font-size: 4.5rem;
    text-align: center;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;

}
.about-content h3{
    font-size: 2rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
/* .services {
    min-height: auto;
    padding-bottom: 7rem;
} */
.services h2 {
    margin-bottom: 2rem;
}
.services{
    background: var(--bg-color);
    padding: 80px 0;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

.services .services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 4rem;
}

.services-container .services-box{
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: .5rem 3rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--showdow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
}
.services-container .services-box:hover{
    box-shadow: 0 .1rem 2rem var(--showdow-color);
    transform: scale(1.02);
    transition: .3s ease-in-out;
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3{
    font-size: 2.6rem;
    transition: .5s ease;

}
.services-box:hover h3 {
    font-size: 2.6rem;
    
}

.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

#contact {
       min-height: 100vh;
    padding-top: 8rem;
    padding-bottom: 2.5rem;
}

.contact h2{
    margin-bottom: 2rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 1rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input ,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--showdow-color);


}
.contact form .input-box input {
    width: 49%;
}
.contact form textarea{
    resize: none;
    height: 140px;
}

.contact form .btn {
    margin-top: 2.5rem;
    cursor: pointer;
}
.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 4%;
    background: var(--main-color);
    position: relative;
    box-shadow: 0 -3px 15px rgba(0,0,0,.2);

}
.footer-text p{
    font-size: 1.6rem;
    color: var(--white-color);

}
.footer-iconTop a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5s ease;

}
.footer-iconTop a:hover{
    outline-color: var(--white-color);
}
.footer-iconTop a i{
    font-size: 1.6rem;
    color: #333;
}

/*  BREAKPOINTS */

@media (max-width: 1200px){
    html {
        font-size: 55%;
    }
    .home .p-container {
        height: 85.8rem;
    }
    .home .p-container .p-box {
        right: -12rem;
        height: 85.8rem;
    }

    .home .p-container .overlay {
        right: -9rem;
    }
}
